@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply relative font-sans;
}

*::-webkit-scrollbar {
	@apply hidden;
}

html,
body {
	@apply absolute m-0 h-full w-full overflow-hidden p-0 transition-colors;
}
